    <div id = "inputs">
      <input id = "latValue" class = "inputbox" placeholder="set a latitude"></input>
      <input id = "longValue" class = "inputbox" placeholder="set a longitude"></input>
      <!-- <input id = "cityName" class = "inputbox" placeholder="put in a city name"></input> -->
      <button id = "go"> Change Place! </button>
    </div>
    <div id="map-canvas"></div>
    <div id = "image"><img src = "toplegend.png"/></div>
    <div id ="waldoLogo"><img src = "logo.png"/></div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyChw_8x0KbaVWR5rkMjzvlGY6TJOplLxQk&libraries=places"></script>
    <script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src ="app.js"></script>
